.svg-stylized-bar-chart {
  font-family: "Poppins", sans-serif;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
  /* font-size: 14px; */
}

.marks circle {
  /* fill: #137b80; */
  fill: #0077fff3;
}

.marks .marks-area {
  fill: rgba(12, 162, 248, 0.459);
}

.marks .marks-line {
  fill: none;
  /* stroke: #137b80; */
  /* stroke: #0077fff3; */
  stroke: #51b5f8;
  /* stroke: #91dee1; */
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: butt;
}

.axis-label {
  font-size: 2em;
  fill: #635f5d;
}

/* new */
.domain {
  stroke: none;
}

/* .tick text {
  font-size: 10px;
} */

.select-time-overlay-line {
  stroke: black;
  stroke-width: 4;
}

.select-time-overlay-rect {
  fill: none;
  pointer-events: all;
}

.select-time-overlay-tooltip-circle {
  fill: black;
}

.select-time-overlay-tooltip-rect {
  fill: rgba(0, 0, 0, 0.8);
}

.select-time-overlay-tooltip-text {
  fill: white;
  font-size: 14px;
}

.tspan-precipitation-text {
  font-weight: 700;
  font-size: 16px;
}

.tspan-time {
  font-size: 14px;
}

.tspan-precipitation-number {
  font-size: 14px;
  fill: rgb(180, 180, 180);
}

.svg-wrapper {
  position: relative;
  padding-bottom: 50%;
}

.svg-graph {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.axis {
  font-size: 10px;
}

@media screen and (min-width: 480px) {
  .axis {
    font-size: 12px;
  }
}

@media screen and (min-width: 900px) {
  .axis {
    font-size: 14px;
  }
}

.text-label-current-time {
  fill: #635f5d;
  font-size: 12px;
}

@media screen and (min-width: 480px) {
  .text-label-current-time {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
  .text-label-current-time {
    font-size: 16px;
  }
}
